/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

li {
  list-style-type: none;
  text-align: center;
  font-weight: 700;
}


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


hr {
  width: 100%
}

span {
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1  {
  font-size: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 35px;
  color: #5798A0;
}

h2 {
  font-size: 30px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

ul {
  margin: 0;
  padding:0;
}

.h1white h1 {
  color: white;
}



.text-summary {
  font-size: 15px;
  font-color:#333333;
  width: 100%;
  margin: 50px 0 50px 0;
}


.align-content-headers {
  text-align: center;
  margin-top: 10%;
}


.align-content {
  text-align: center;
  margin-top: 15px;
}


.about_section {
  background-image: url("/assets/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.portfolio_section {
  background-color: white;
  background: white;
  // height:100vh;
  padding: 100px 0;
}

.contact_section {
  background: white;
  background-color: white;
  height: 100vh;
  padding-top: 5%;
}

.navbar-custom {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: white;
}

.navbar-custom a:focus {
  outline: none;
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 0px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }

  .col-sm-6 {
    width: auto;
  }
}

nav.navbar.shrink {
	max-height: 35px;
  .navbar-brand {font-size: 20px;}
  a {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
  .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
  .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

}


.form-horizontal {
  width: 400px;
  background-color: black
}

.contact-image {
  display: flex;
  flex-wrap: wrap;
  background-image: url("/assets/beachhousse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 350px;
  width: auto;
}

.contact-image2 {

  background-image: url("/assets/beachhousse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}


.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  margin: 0px;
  justify-content: center;
  background-color: black;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.zoom-in-icon {
  display: none;
}

.zoom-in-button {
  display: none;
  height: 40px;
  width: 100px;
  background-color: transparent;
  background: transparent;
  border-color: white;
  position: relative;
  margin: 20px;
}

.zoom-in-button:hover {
  background: transparent;
  background-color: transparent;
  border-color: white;
  font-weight: bold;
}

.zoom-in-button:active {
  background: transparent;
  background-color: transparent;
}

.portfolio-box:hover {
  background-color: #5798A0;
  background: #5798A0;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  margin-top: 0px;


  .zoom-in-icon {
    display: block;
  }
  .zoom-in-button {
    display: block;
  }
}
.portfolio-box:hover:after{
  margin-top: 70%;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  position: absolute;
}


.portfolio-imagett {
  background-image: url("/assets/tt.png");
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-imagedd {
  background-image: url("/assets/dd.png");
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-imageul {
  background-image: url("/assets/ul.png");
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-imagevc {
  background-image: url("/assets/VC.png");
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio-imageca {
  background-image: url("/assets/ChangeApp.png");
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}


.btn-contact {
  background-color: transparent;
  background: transparent;
  border-color: white;
  color: white;
  height: 60px;
  width: 150px;
}

.btn-success:active {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.btn-default:hover {
  background-color: 808988;
  color: white;
}

.subtext {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: center;
  background: transparent;
  background-color: transparent;
  font-size: 15px;
  color: #777777;
  margin-bottom: auto;
  text-align: center;
}

.captiontext {
  color: white;
  margin-left: 7px;
  margin-right: 7px;
}

.subtext h2 {
  text-align: center;
  color: #6398A3;
}



.split-text {
  height: 10px;
  background-color: white;
  background: white;
  color: white;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  height: 5px;
  background-color: #6398A3;
  border-color: #6398A3;
}

.text-separator {
  height: 5px;
  background-color: black;
  background: black;
}

.btn-primary {
  height: auto;
  width: auto;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

@import url(http://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


h1{
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	color: #5798A0;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 80%;
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;

}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;


}
label, input, textarea{
	display: block;
}
input, textarea{
	width: 500px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}
input:focus, textarea:focus{
	border: solid 3px #77bde0;
}

textarea{
	height: 100px;
	resize: none;
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;

}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}

.notetext {
  text-align: center;
  font-size: 10px
}
#success_message{ display: none;}
